*,
*::after,
*::before {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #303030;
  font-size: 14px;
  line-height: 19px;
}

.logo {
  margin-top: 70px;
}

.title {
  margin-top: 150px;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #868585;
  text-transform: uppercase;
}

.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.slick-prev,
.slick-next {
  position: absolute;
  bottom: -32px;
}
.slick-prev {
  left: 276px;
}
.slick-next {
  left: 338px;
}

.link-box {
  &__text {
    font-size: 18px;
    line-height: 25px;
    display: inline-block;
    transform: translate(-40px, -20px);
  }
  &__img {
    transform: translate(15px, 0);
    &-fill {
      transition: all 0.3s;
    }
  }
  &:hover &__img-fill {
    fill: #a9a32a;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  margin-bottom: 38px;
}

.header {
  color: #fff;
  background-image: url(../images/header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  &__inner {
    height: calc(100vh - env(safe-area-inset-bottom));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    &-subtitle {
      font-size: 18px;
      line-height: 25px;
    }
    &-title {
      font-weight: 700;
      font-size: 64px;
      line-height: 73px;
      margin-bottom: 50px;
      span {
        display: block;
        font-weight: 400;
        font-size: 42px;
        line-height: 57px;
      }
    }
  }
}

.services {
  &__content {
    display: flex;
    gap: 90px;
  }
  &__list {
    list-style: none;
    &-item {
      margin-bottom: 50px;
    }
    &-title {
      margin-bottom: 15px;
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
    }
  }
}

.green-offer {
  margin-bottom: 150px;
  &__inner {
    display: flex;
    gap: 90px;
  }

  &__tabs {
    margin-bottom: 125px;
  }

  &__tab {
    font-size: 18px;
    line-height: 25px;
    margin-right: 40px;
    position: relative;
    padding-bottom: 2px;
    &:last-of-type {
      margin-right: 0;
    }
    &::before {
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      bottom: -2px;
      height: 2px;
      width: 0;
      background: black;
      transition: all 0.3s;
    }
    &.--active::before {
      width: 100%;
    }
  }

  &__content {
    margin-bottom: 100px;
    list-style: none;
    max-width: 510px;
    &-item {
      display: none;
      gap: 40px;
      &.--active {
        display: flex;
      }
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
    list-style: none;
    max-width: 510px;
    &-item {
      max-width: 235px;
    }
    &-title {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 5px;
    }
  }

  &__box {
    &-text {
      font-weight: 700;
      font-size: 18px;
      line-height: 25px;
      max-width: 600px;
      margin-bottom: 17px;
    }
  }
}

.blockquote {
  background: url(../images/blockquote-bg.jpg) no-repeat center / cover;
  &__text {
    padding: 128px 10px 144px;
    max-width: 673px;
    margin: 0 auto;
    font-size: 42px;
    line-height: 57px;
    text-align: center;
    color: #fff;
  }
}

.clients {
  &__slider {
    list-style: none;
  }

  &__item-inner {
    display: flex;
    gap: 90px;
  }

  &__item-title {
    max-width: 478px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 25px;
  }

  &__item-list {
    list-style: none;
    margin-bottom: 65px;
    margin-left: 51px;
  }

  &__list-item {
    margin-bottom: 15px;
  }

  .link-box {
    &__text {
      transform: translate(-55px, -15px);
    }
    &__img {
      transform: translate(0, 5px);
    }
  }
}

.five-steps {
  &__inner {
    display: flex;
    gap: 90px;
  }

  &__content {
  }

  &__list {
    list-style: none;
    max-width: 510px;
  }

  &__item {
    margin-bottom: 30px;
    &-number {
      margin-bottom: 11px;
    }

    &-title {
      font-size: 18px;
      line-height: 1.4;
    }
  }
  &__img {
    margin-top: 150px;
  }
}

@media (max-width: 1200px) {
  .title {
    margin-top: 100px;
    text-align: center;
  }
  .services {
    &__content {
      flex-direction: column;
      gap: 50px;
      align-items: center;
    }
    &__list {
      &-title,
      &-text {
        text-align: center;
        max-width: 800px;
      }
    }
  }
  .green-offer {
    margin-bottom: 100px;
    &__box-img {
      width: 100%;
      height: auto;
    }
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__tabs {
      text-align: center;
      margin-bottom: 100px;
    }
  }
  .clients {
    &__item-inner {
      display: block;
    }

    &__item-title {
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__item-list {
      text-align: center;
      margin: 0;
      margin-bottom: 30px;
    }

    &__item-img {
      margin: 0 auto;
      margin-bottom: 30px;
    }

    &__list-item {
      margin-bottom: 15px;
    }

    .link-box {
      text-align: center;
      &__text {
        transform: translate(-40px, -20px);
      }
      &__img {
        transform: translate(15px, 0);
      }
    }
  }
  .slick-prev,
  .slick-next {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
  }
  .slick-prev {
    left: calc(50% - 40px);
  }
  .slick-next {
    left: calc(50% + 40px);
  }
  .five-steps {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      text-align: center;
    }
    &__img {
      margin-top: 0;
    }
  }
}

@media (max-width: 800px) {
  .blockquote {
    &__text {
      padding: 100px 10px 100px;
      font-size: 36px;
      line-height: 1.5;
    }
  }
}

@media (max-width: 600px) {
  .header__info-title {
    font-size: 55px;
    line-height: 60px;
    span {
      font-size: 35px;
      line-height: 45px;
    }
  }
  .services__img {
    width: 100%;
    height: auto;
  }
  .green-offer__content-item {
    flex-direction: column;
    align-items: center;
  }
  .green-offer__content-text {
    text-align: center;
  }
  .green-offer__box-img {
    width: 100%;
    height: auto;
  }
  .blockquote {
    &__text {
      font-size: 32px;
      line-height: 1.5;
    }
  }
  .clients__item-img {
    height: 200px;
    width: auto;
  }
  .five-steps {
    &__inner {
      flex-direction: column;
      align-items: center;
    }
    &__item {
      text-align: center;
    }
    &__img {
      width: 100%;
      height: auto;
    }
  }
}
@media (max-width: 520px) {
  .blockquote {
    &__text {
      font-size: 28px;
      line-height: 1.5;
    }
  }
}

@media (max-width: 480px) {
  .header__info-title {
    font-size: 45px;
    line-height: 50px;
    span {
      font-size: 25px;
      line-height: 35px;
    }
  }
  .title {
    margin-top: 80px;
    margin-bottom: 50px;
  }
  .services {
    &__list {
      &-item {
        margin-bottom: 30px;
      }
      &-title,
      &-text {
        text-align: center;
        max-width: 800px;
      }
    }
  }
  .green-offer__tab {
    margin-right: 20px;
  }
  .blockquote {
    &__text {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  .five-steps {
    &__inner {
      flex-direction: column;
      align-items: center;
      gap: 45px;
    }
    &__item {
      text-align: center;
    }
    &__img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 400px) {
  .header__info-title {
    font-size: 35px;
    line-height: 40px;
    span {
      font-size: 20px;
      line-height: 35px;
    }
  }
  .header__info-subtitle {
    font-size: 16px;
    line-height: 20px;
  }
  .link-box {
    &__text {
      font-size: 16px;
      line-height: 20px;
      display: inline-block;
      transform: translate(-30px, -13px);
    }
    &__img {
      width: 70px;
      height: 70px;
      transform: translate(10px, 0);
    }
  }
  .green-offer__tab {
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
  }
  .blockquote {
    &__text {
      font-size: 20px;
      line-height: 1.5;
    }
  }
}

@media (max-height: 500px) {
  .header__info-title {
    margin-bottom: 25px;
  }
}
